
ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
}

li{
	float: right;
}

li a{
	display: block;
	color: #585454;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

li a:hover{
	text-decoration: underline;
}

img.img_alignment{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-top: 140px;
}

.buttonHolder{
	text-align: center;
}

input{

}

.btn{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 10px;
	background-color: #f6f6f9
	color:#97979a;
}

.btn:hover{
	color: black;
	border: #333030;
}



form {
    text-align: center;
    }

#inputBox{

	height: 35px;
	width: 600px;
}