
ul{
	list-style-type: none;
	margin:0;
	padding: 5px;
	overflow: hidden;
}

li{
	float: right;
}

li a{
	display: block;
	color: #585454;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

li a:hover{
	text-decoration: underline;
}

#left{
	float: left;
}

img.img_alignment{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-top: 140px;
}

.buttonHolder{
	text-align: center;
}

.btn{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 10px;
	background-color: #F4EFEF;
	border: none;
	color: #726f6f;
	font-weight: bold;
}

.btn:hover {
	color: #353333;
	border-color: #C8C3C3;
}

form {
    text-align: center;
    }

#inputBox{

	height: 35px;
	width: 600px;
}

footer{
	position: absolute;
	bottom: 0;
	width:99%;	
	background-color: #F4EFEF;
}